/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 30px;
  background-color: bisque;
  margin: auto auto;
  padding: 0.6rem;
  background-color: rgb(1, 1, 16);
  color: #aaa;
}

.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .guess-text {
    text-align: center;
    text-decoration: dotted;
    font-family: 'Bungee Spice', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
      sans-serif;
  }

  .question-mark {
    font-size: 5rem;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
  }

  .btn-play-again {
    width: 10%;
    padding: 0.6rem;
  }
}

.section-main {
  width: 100%;
  margin: auto auto;
  display: flex;
  justify-content: center;

  .question-mark2 {
    font-size: 4rem;
    position: absolute;
    transform: translateX(-120px);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Press start 2p', sans-serif;
  width: 100%;
  margin: auto auto;
  font-size: 1rem;
  margin-top: 3rem;
  /* background-color: rgba(127, 255, 212, 0.406); */
  color: #585555;
  background-color: rgba(132, 132, 227, 0.436);
}
.section-header {
  text-align: center;
  margin: auto auto;
  /* width: 80%; */

  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40rem;
  }
  .btn-play-again {
    padding: 1rem;
    font-size: 1.7rem;
  }

  .nbr-between {
    font-size: 1.2rem;
  }
  .guess-text {
    font-size: 3rem;
    /* font-family: 'Press Start 2P', dashed; */
    margin: 2rem;
    font-family: 'Press Start 2P', sans-serifs;
    font-weight: 800;
  }
  .question-mark {
    height: 6rem;
    width: 5rem;
    background-color: white;
    display: inline-block;
    padding: 1rem 1rem;
    margin: 1rem;
  }
}

.section-main {
  display: flex;
  gap: 40rem;
  justify-content: center;
  margin: auto auto;
  margin-top: 10rem;

  .left-level {
    margin-left: 7rem;
  }

  .guess {
    border: 0.3rem solid rgb(209, 206, 206);
    padding: 0.7rem;
    width: 10rem;
    font-size: 2.3rem;
    text-align: center;
  }

  .checking {
    font-size: 1.5rem;
    /* height: 1.5rem; */
    background-color: white;
    padding: 0.2rem 1.3rem;
    margin: 0.6rem;
    cursor: pointer;
    display: block;
    text-align: center;
    font-weight: 800;
    font-family: 'Press Start 2P', sans-serifs;
    border: 0.2rem solid white;
    color: #585555;
    border-radius: 0.1rem all;
  }
  .checking:hover {
    border: 0.1rem solid rgba(132, 132, 227, 0.436);
  }

  .right-level {
    margin-right: 8rem;
  }
  .guessing {
    font-size: 1.9rem;
    margin-bottom: 5rem;
    cursor: pointer;
  }
  .guessing-score {
    font-size: 1.2rem;
  }
  .total-score {
    font-size: 1.2rem;
  }
}
